.control{
	@extend .row;
	@extend %fontSize4;
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid $grey200;
	&-stage{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	&_label {
		@extend .col-xs-6;
	}
	&_input {
		@extend .col-xs-6;
		text-align: right;
		text-decoration: underline;
	}
}