---
title: Hotels
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---

{{> _summary}}

{{> _hotelControls}}

<div class="container">
	<div class="row">
		{{#each hotels}}
			{{> _hotelStub}}
		{{/each}}
	</div>
</div>
