---
title: Hotels
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---
<div class="wrapper container">
	<div class="row">
		{{> _summary summary.hotels}}

		{{> _hotelControls}}

		<div class="section section_wrapper col-xs-12 col-sm-8">
			<div class="row">
				{{#each hotels}}
				{{> _hotelStub}}
				{{/each}}
			</div>
		</div>	
	</div>
</div>
