---
title: Hotel Product
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---
<section class="section">
	<a href="hotels.html" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Pick a different hotel</a>
</section>
<section class="section">
	<div class="panel">
		<div class="panel_section panel_section-header">
			<span class="panel_title">Hotel Name</span>
			<span class="stub_rating">
				<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
			</span>
		</div>
		<div class="panel_section panel_section-gallery gallery">
			<div class="gallery_item"><img src="http://placehold.it/500x300" class="img-responsive" alt=""></div>
			<div class="gallery_item"><img src="http://placehold.it/500x300" class="img-responsive" alt=""></div>
			<div class="gallery_item"><img src="http://placehold.it/500x300" class="img-responsive" alt=""></div>
			<div class="gallery_item"><img src="http://placehold.it/500x300" class="img-responsive" alt=""></div>
			<div class="gallery_item"><img src="http://placehold.it/500x300" class="img-responsive" alt=""></div>
		</div>
		<div class="panel_section panel_section-body">
			<h3>Introduction</h3>
			<p>
				The Holiday Inn Express Wandsworth Battersea is a delightfully cosy stopover, perfect for those on a budget. Just a short distance from Victoria Station, you're ideally situated for a trip into Theatreland, where there's a whole host of fantastic attractions ready for you to explore. Take a short journey and you'll be in the heart of the West End, ready to take in all of the glitz and glamour. Perfect if you're seeing a nearby show such as Wicked or Billy Elliot, or travelling further into the West End to see another fantastic show, The Holiday Inn Express Wandsworth Battersea gives you everything you'll need to take in everything that London has to offer. Convenient and comfortable, the Holiday Inn Express Wandsworth Battersea has everything that you need to make your Show & Stay a theatre break to remember. 
			</p>
		</div>
		<div class="panel_section">
			<div class="col-xs-12"><h3>Breakfast</h3></div>
			<div class="col-xs-12"><p>Continental breakfast included</p></div>
		</div>
		<div class="panel_section panel_section-footer">
			<div class="col-xs-6">
				<div>
					total: <span class="fontSize2">&pound;500</span>
				</div>
				<small>includes tickets &amp; hotel</small>
			</div>
			<div class="col-xs-6">
				<a href="payment.html" class="btn btn-accent btn-lg">
					Book<i class="fa fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
	</div>
</section>