---
title: Hotel Product
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---
<section class="section">
	<a href="hotels.html" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Pick a different hotel</a>
</section>
<section class="section">
	<div class="panel">
		<div class="panel_section panel_section-header">
			<span class="panel_title">Hotel Name</span>
			<span class="stub_rating">
				<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
			</span>
		</div>
		<div class="panel_section panel_section-gallery gallery">
			<div class="gallery_item"><img src="http://placehold.it/500x300" class="img-responsive" alt=""></div>
			<div class="gallery_item"><img src="http://placehold.it/500x300" class="img-responsive" alt=""></div>
			<div class="gallery_item"><img src="http://placehold.it/500x300" class="img-responsive" alt=""></div>
			<div class="gallery_item"><img src="http://placehold.it/500x300" class="img-responsive" alt=""></div>
			<div class="gallery_item"><img src="http://placehold.it/500x300" class="img-responsive" alt=""></div>
		</div>
		<div class="panel_section panel_section-body">
			<div><a>5 miles from theatre - see map</a></div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.
			</p>
			<div class=""><a>See frequently asked questions</a></div>
		</div>
		<div class="panel_section panel_section-footer">
		<div>
			total: <span class="fontSize2">&pound;500</span>
		</div>
		<small>includes tickets &amp; hotel</small>
		</div>
	</div>
		<a href="payment.html" class="btn btn-accent btn-lg btn-block">
			Choose Hotel Name <i class="fa fa-arrow-circle-right"></i>
		</a>
</section>