---
title: Payment
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---

{{> _summary}}

{{!-- <div class="container">
	<div class="row">
		<div class="col-xs-12">
			<label for="">2 Tickets to see <strong>The Lion King</strong> on 2nd May 2015 at 8pm</label>
			Sitting in the Stalls - Band 2
		</div>
		<div class="col-xs-12">
			<label for="">Strand Place Hotel</label>
			<label for="">1 Double Room ( 2 Adults )</label>
			Checking in on 2nd May and checking out on the 3rd of May.
		</div>
		<div class="col-xs-12">
			<h3 class="pull-right">total: &pound;1200</h3>
		</div>
	</div>
</div> --}}

<div class="container">
<form action="" class="row form-inline">
		<div class="form-group col-xs-6">
			<input type="email" class="form-control" id="exampleInputEmail3" placeholder="First Name">
		</div>
		<div class="form-group col-xs-6">
			<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Surname">
		</div>
		<div class="form-group col-xs-12">
			<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
		</div>
		<div class="form-group col-xs-12">
			<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Phone Number">
		</div>
		<div class="form-group col-xs-12">
			<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Card Number">
		</div>
		<div class="form-group col-xs-6">
			<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Expiry Date">
		</div>
		<div class="form-group col-xs-6">
			<input type="email" class="form-control" id="exampleInputEmail3" placeholder="CCV">
		</div>
		<div class="col-xs-12">
			<button class="btn btn-primary btn-block btn-lg"><i class="fa fa-lock"></i> Make secure booking - <i class="fa fa-arrow-circle-right"></i></button>
		</div>
	</form>
</div>