---
title: Pick Show Date
---

<div class="container">
	<div class="row">
		<div id="js_datePicker" class="col-xs-12">
		</div>
	</div>
	<div class="row">
		<a href="/hotels.html" class="col-xs-12">
			<button class="btn btn-primary btn-block">Select Date</button>
		</a>
	</div>
</div>