---
title: Home
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---
<div class="container">
	<div class="row">
		{{> _summary summary.seat}}

		{{> _seatControls}}

		{{> _seatChoice}}
	</div>
</div>