<a class="col-xs-12" href="hotelInfo.html">
	<div class="stub">
		<div class="stub_aside">
			<div class="stub_thumb" style="background-image: url('http://lorempixel.com/500/500/city/{{distance}}');">
			</div>
		</div>
		<div class="stub_main">
			<span class="stub_title">{{name}}</span>
			<span class="stub_rating">
				<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
			</span>
			<div>{{distance}} miles from theatre</div>
			<div class="stub_footer stub_footer-right">
				<div>total: &pound;{{price}}</div>
				<small>includes tickets &amp; hotel</small>
			</div>
		</div>
	</div>
</a>