<a href="hotelInfo.html">
	<section class="container product">
		<div class="row">
			<div class="col-xs-4 product_image" style="background-image: url('http://placecage.com/100/150');">
			</div>
			<div class="col-xs-8">
				<h4>Hotel Name <small>&star;&star;&star;&star;</small></h4>
				<span>x Miles from theatre</span>
				<button class="btn btn-primary pull-right">&pound;350</button>
			</div>
		</div>
	</section>
</a>