<div id="hotelControls" class="section section_wrapper col-xs-12 col-sm-8">
	<div class="control control-stage">
		<div class="col-xs-6">
			<label for="">Hotel Dates:</label>
			<div class="btn-group">
				<button type="button" class=" btn btn-primary btn-thin">Wed<br>2nd</button>
				<span class=" ">to</span>
				<button type="button" class="btn btn-primary btn-thin">Thur<br>3rd</button>
			</div>
		</div>
		<div class="col-xs-6">
			<label for="">Room type:</label>
			<button type="button" class="btn btn-primary"><i class="fa fa-bed"></i> Double Room</button>		
		</div>
	</div>
</div>