<a href="hotelInfo.html">
	<section class="container product">
		<div class="row">
			<div class="col-xs-4 product_image" style="background-image: url('http://lorempixel.com/100/150/city/');">
			</div>
			<div class="col-xs-8">
				<h4>{{name}} <small>{{stars}}&star;</small></h4>
				<span>{{distance}} Miles from theatre</span>
				<button class="btn btn-primary pull-right">&pound;{{price}}</button>
			</div>
		</div>
	</section>
</a>