---
component: navbar
---
<!-- Fixed navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <img src="http://placehold.it/100x30" alt="">
    <a class="btn" href="">0800 0832 0841</a>
  </div>
</div>
