---
component: navbar
---
<div class="navbar" role="navigation">
  <div class="container">
    <a href="/"><img src="http://placehold.it/100x30" alt=""></a>
    <a class="" href="">0800 0832 0841</a>
  </div>
</div>
