<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<form action="" class="panel panel-default form-horizontal">
				<ul class="list-group">
					<li class="list-group-item">
						<div class="form-group">
							<label class="col-xs-4 control-label">Show Date:</label>
							<div class="col-xs-8">
								<p class="form-control-static pull-right">2nd May 2015</p>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="form-group">
							<label class="col-xs-4 control-label">Show Time:</label>
							<div class="col-xs-8">
								<div class="btn-group pull-right">
									<button type="button" class="btn btn-default" href="">13:00</button><button type="button" class="btn btn-primary" href="">20:00</button>
								</div>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="form-group">
							<label class="col-xs-4 control-label">Tickets:</label>
							<div class="col-xs-8">
								<div class="btn-group pull-right">
									<button type="button" class="btn btn-default">&minus;</button>
									<button type="button" class="btn btn-default">2</button>
									<button type="button" class="btn btn-default">&plus;</button>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>