<div id="seatControls" class="section section_wrapper col-xs-12 col-sm-7 col-md-8">
	<div class="control control-stage">
		<label class="control_label">Show Date:</label>
		<span class="control_input">2nd May 2015</span>
	</div>
	<div class="control control-stage">
		<label class="control_label">Show Time:</label>
		<div class="btn-group">
			<button type="button" class="btn btn-default" href="">13:00</button>
			<button type="button" class="btn btn-primary" href="">20:00</button>
		</div>
	</div>
	<div class="control control-stage">
		<label class="control_label">Tickets:</label>
		<div class="btn-group">
			<button type="button" class="btn btn-default">&minus;</button>
			<button type="button" class="btn btn-default">2</button>
			<button type="button" class="btn btn-default">&plus;</button>
		</div>
	</div>
</div>