<li class="list-group-item">
	{{name}}
	<span class="label label-default pull-right"><small>from</small> &pound;{{price}}</span>
	<div id="js_hide" class="hide">
		<a href="hotels.html" class="btn btn-success">Confirm</a>
	</div>
</li>