<div class="container">
	<h2>Lyceum Theatre</h2>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Upper Circle</h3>
		</div>
		<ul class="list-group">
			<li class="list-group-item">
				Band A
				<a href="hotels.html" class="btn btn-success hide pull-right">Confirm</a>
				<span class="label label-default pull-right"><small>from</small> &pound;206</span>
			</li>
			<li class="list-group-item">
				Band B
				<span class="label label-default pull-right"><small>from</small> &pound;235</span>
				<div id="js_hide" class="hide">
					<a href="hotels.html" class="btn btn-success">Confirm</a>
				</div>
			</li>
			<li class="list-group-item">
				Band C
				<a href="hotels.html" class="btn btn-success hide pull-right">Confirm</a>
				<span class="label label-default pull-right"><small>from</small> &pound;260</span>
			</li>
		</ul>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Stalls</h3>
		</div>
		<ul class="list-group">
			<li class="list-group-item">
				Band A
				<a href="hotels.html" class="btn btn-success hide pull-right">Confirm</a>
				<span class="label label-default pull-right"><small>from</small> &pound;206</span>
			</li>
			<li class="list-group-item">
				Band B
				<a href="hotels.html" class="btn btn-success hide pull-right">Confirm</a>
				<span class="label label-default pull-right"><small>from</small> &pound;235</span>
			</li>
			<li class="list-group-item">
				Band C
				<a href="hotels.html" class="btn btn-success hide pull-right">Confirm</a>
				<span class="label label-default pull-right"><small>from</small> &pound;260</span>
			</li>
		</ul>
	</div>
</div>