<div class="container">
	<div class="row">
		<div class="control_group col-xs-12">
			<label class="control_label">Show Date:</label>
			<span class="control_input control_input-disabled">2nd May 2015</span>
		</div>
		<div class="control_group col-xs-12">
			<label class="control_label">Show Time:</label>
			<div class="control_buttonGroup btn-group">
				<button type="button" class="btn btn-default" href="">13:00</button>
				<button type="button" class="btn btn-primary" href="">20:00</button>
			</div>
		</div>
		<div class="control_group col-xs-12">
			<div class="group_left">
				<label class="control_label">Tickets:</label>
			</div>
			<div class="group_right">
				<button type="button" class="btn btn-default">&minus;</button>
				<button type="button" class="btn btn-default">2</button>
				<button type="button" class="btn btn-default">&plus;</button>
			</div>
		</div>
	</div>
</div>