<div class="seat">
	<span class="seat_name">{{name}}</span>
	<div class="seat_information">
		<span class="seat_price"><small>from</small> &pound;{{price}}</span>
		<a href="hotels.html" id="js_hide" class="hide btn btn-accent">Confirm</a>
	</div>
</div>