<div class="section col-xs-12 col-sm-8 col-sm-offset-4">
	{{> _seatMap}}
	<h2>Lyceum Theatre</h2>
	{{#each seats}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{name}}</h3>
			</div>
			<div>
				{{#each this.bands}}
					{{> _seatStub}}
				{{/each}}
			</div>
		</div>
	{{/each}}
</div>