<a class="col-xs-12" href="pickDate.html#summaryPull">
	<div class="stub">
		<div class="stub_aside">
			<div class="stub_thumb" style="background-image: url('{{imgSrc}}');">
			</div>
		</div>
		<div class="stub_main">
			<span class="stub_title">{{name}}</span>		
		</div>
	</div>
</a>