<a href="hotelInfo.html">
	<section class="container product">
		<div class="row">
			<div class="col-xs-4 product_image" style="background-image: url('http://placecage.com/100/150');">
			</div>
			<div class="col-xs-8">
				<h4>Show Name </h4>			
				<a href="hotels.html" class="btn btn-success pull-right">Select Show</a>
			</div>
		</div>
	</section>
</a>