<a href="pickDate.html">
	<section class="container product">
		<div class="row">
			<div class="col-xs-3 product_image" style="background-image: url('{{imgSrc}}');">
			</div>
			<div class="col-xs-9">
				<h4>{{name}} </h4>			
				<button class="btn btn-primary pull-right">Select Show</button>
			</div>
		</div>
	</section>
</a>