<a class="col-xs-12" href="pickDate.html">
	<section class="product row">
		<div class="col-xs-2 product_image product_image-small" style="background-image: url('{{imgSrc}}');">
		</div>
		<div class="product_body col-xs-10">
			<div class="product_header">
				<span class="product_name">{{name}}</span>
			</div>
		</div>
	</section>
</a>
