<a class="" href="pickDate.html">
	<section class="product row">
		<div class="product_image product_image-small" style="background-image: url('{{imgSrc}}');">
		</div>
		<div class="product_body">
			<div class="product_header">
				<span class="product_name">{{name}}</span>
			</div>
		</div>
	</section>
</a>
