<section class="section">
	<div class="section_row">
		<div class="col-xs-12">
			<section class="product">
				<div class="col-xs-2 product_image product_image-small" style="background-image: url('http://lorempixel.com/500/500/city/');">
				</div>
				<div class="product_body col-xs-10">
					<div class="product_header">
					<span class="product_name">The Lion King</span>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>