html {
	font-family: sans-serif;
	@extend %fontSize6;
}

.hero {
	@extend %fontSize1;
}
h1 {
	@extend %fontSize2;
}
h2 {
	@extend %fontSize3;
}
h3 {
	@extend %fontSize4;
}
blockquote {
	@extend %fontSize5;
}
p {
	@extend %fontSize6;
}
label {
	@extend %fontSize5;
}

.fontSize1 {
	@extend %fontSize1;
}
.fontSize2 {
	@extend %fontSize2;
}
.fontSize3 {
	@extend %fontSize3;
}
.fontSize4 {
	@extend %fontSize4;
}
.fontSize5 {
	@extend %fontSize5;
}
.fontSize6 {
	@extend %fontSize6;
}


a{
	text-decoration: none;
	&:visited{
		color: black;
	}
}