.product {
	@extend .row;
	// margin-bottom: 10px;
	// border-bottom: 1px solid lightgray;
	// padding-bottom: 10px;
	// position: relative;
	&_image {
		@extend .col-xs-4;
		@extend .col-sm-3;
		height: 100px;
		background-size: cover;
		background-position: 50%;
		&-small{
			height: 50px;
		}
	}
	&_body{
		@extend .col-xs-8;
		@extend .col-sm-9;
	}
	&_rating{
		color: $brand_primary;
		white-space: nowrap;
	}
	&_name {
		@extend %fontSize2;
	}
	&_cta {
		float:right;
	}
	// &:after{
	// 	@extend %fontSize3;
	// 	content: '>';
	// 	position: absolute;
	// 	right: 20px;
	// 	top: 25%;
	// 	opacity: 0.2;
	// }
}