@import "bootstrap/bootstrap";
@import "vendor/mdcolours";
@import "functions";
@import "fontProps";
@import "base";

$brand_primary: $blueGrey500;
$brand_accent: $redA700;
$brand_white: $grey100;

$breakpoints: (
	default: '',
	small: 768px,
	medium: 992px,
	large: 1200px
	);

.navbar{
	margin-bottom: 20px;
	height: 50px;
	width: 100%;
	a{
		color: white;
		display: inline-block;
		padding-top: 5px;
		img{
			vertical-align: top;
		}
	}
}

body {
	background: $grey400;
	padding-top: 10px;	
}

.brandHorizon {
	height: 10px;
	width: 100%;
	background: $brand_primary;
	position: fixed;
  top: 0;
  z-index: 100;
}


@import "blocks/section";
@import "blocks/btn";
@import "blocks/stub";
@import "blocks/control";
@import "blocks/panel";
@import "blocks/input";
@import "blocks/price";
@import "summary";

.seat{
	min-height: 40px;
	@extend %fontSize5;
	border-bottom: 1px solid $brand_white;
	.seat_information{
		float: right;
	}
	
	.seat_name, .seat_price{
		display: inline-block;
		padding: 11px 0;
	}

	.seat_information{
		text-align: right;
	}
}

.block {
	border: 1px solid $brand_white;
	height: 70px;
	width: 70px;
	background: $brand_white;
	display: inline-block;
	&:after{
		display: block;
		content: "#{$brand_white}";
	}

	&-primary {
		background: $brand_primary;
		&:after{
			content: "#{$brand_primary}";
		}
	}
	&-accent {
		background: $brand_accent;
		&:after{
			content: "#{$brand_accent}";
		}
	}
}

.img-responsive{
	max-width: 100%;
}

.hide{
	display: none;
}

.styleBlock{
	border-bottom: 1px solid $brand_primary;
	padding-bottom: 25px;
}

.summary_pull {
	padding: 5px;
	padding-top: 50px;
	text-align: center;
}

@media (min-width: $screen-sm-min) {
	.wrapper{
		background: $grey50;
	}
}
