// @import "bootstrap/bootstrap";
@import "vendor/mdcolours";
@import "vendor/normalize/normalize";
@import "vendor/scss-flex-grid";
@import "functions";
@import "fontProps";
@import "base";


$brand_primary: $indigo300;
$brand_accent: $deepPurpleA100;
$brand_white: $grey50;

html {
	font-family: sans-serif;
	@extend %fontSize6;
}

.container {
	margin: 0 auto;
	padding: 0 5px;
	padding: 0 0.5rem;
}

a{
	text-decoration: none;
}

$breakpoints: (
  default: '',
  small: 768px,
  medium: 992px,
  large: 1200px
);

@media (min-width: 768px) and (max-width: 992px){
	.container{
		width: 768px;
	}
}
@media (min-width: 993px) and (max-width: 1200px){
	.container{
		width: 960px;
	}
}
@media (min-width: 1201px){
	.container{
		width: 1170px;
	}
}

.navbar, .control{
	margin-bottom: 20px;
}

.product {
	// @extend .row;
	margin-bottom: 10px;
	border-bottom: 1px solid lightgray;
	padding-bottom: 10px;
	position: relative;
	&_image {
		// @extend .col-xs-4;
		// @extend .col-sm-3;
		height: 100px;
		background-size: cover;
		background-position: 50%;
		&-small{
			height: 50px;
		}
	}
	&_body{
		// @extend .col-xs-8;
		// @extend .col-sm-9;
	}
	&_rating{
		color: $brand_primary;
		white-space: nowrap;
	}
	&_name {
		@extend %fontSize2;
	}
	&_cta {
		float:right;
	}
	&_footer{
		text-align: right;
		margin-top: 20px;
		@extend %fontSize5;
	}
	&:after{
		@extend %fontSize3;
		content: '>';
		position: absolute;
	  right: 20px;
	  top: 25%;
	  opacity: 0.2;
	}
}

.seat{
	min-height: 30px;
	@extend %fontSize5;
	border-bottom: 1px solid $brand_white;
	.seat_information{
		float: right;
	}
	.seat_price{
	}
}

.btn{
	@extend %fontSize5;
	background: $brand_white;
	border: 1px solid $brand_white;
	border-radius: 3px;
	padding: 10px 15px;
	text-decoration: none;
	&-primary, &-accent{
		color: $brand_white;
	}
	&-primary{
		background: $brand_primary;
	}
	&-accent{
		background: $brand_accent;
	}
	&-lg{
		@extend %fontSize4;
		padding: 5px 25px;
	}
	&-block {
		display: block;
		width: 100%;
	}
}

.block {
	border: 1px solid $brand_white;
	height: 50px;
	width: 50px;
	background: $brand_white;
	display: inline-block;
	&-primary {
		background: $brand_primary;
	}
	&-accent {
		background: $brand_accent;
	}
}

.img-responsive{
	max-width: 100%;
}
.hide{
	display: none;
}

.control{
	margin-bottom: 10px;
}