@import "bootstrap/bootstrap";

.product {
	margin-bottom: 10px;
	border: 1px solid grey;
	&_image {
		height: 100px;
		background-size: cover;
		background-position: 50%;
	}
}

.control{
	margin-bottom: 10px;
}